@import 'keyframe';
@import 'variables';

//Course Info
.course-info{
    width: 100%;
    border-right: 1px solid var(--border-color);
    padding-right: 24px;
    color: var(--text-color);
}

.course-info__component{
    margin-bottom: 8px;
}

.course-info__image{
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #333;
    border-radius: 8px;
    display: flex;
}

.course-info .btn-register-course{
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid var(--black-color);
    margin: 0 0 auto auto;
    padding: 8px;
}

.course-info__name{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text-hightlight-color);

}

.course-info__type{
    display: flex;
    color: var(--text-color);
}

.course-info__type-item{
    margin-right: 12px;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: italic;
}

.course-info__lessons{
    margin-top: 18px;
}

//COURSE COMMENTS
.course-comments{
    color: var(--text-color);
}

.course-comments__title{
    padding-left: 6px;
    font-size: 2.8rem;
    font-weight: 600;
}

.course-comments__buttons{
    display: flex;
}

.course-comments__buttons .btn{
    height: 32px;
    margin: auto 0 0 auto;
    background-color: #000000;
    border-color: unset;
    font-weight: 600;
    border-radius: 20px;
    padding: 1px 12px;
}

.course-comments__item{
    margin-left: -8px;
}

.course-comments__item-avatar{
    width: 48px;
    height: 48px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.course-comments__item-content{
    display: flex;
    flex-direction: column;
}

.course-comments__item-content__name{
    font-weight: 700;
}

.course-comments__item-content__text{
    text-align: justify;
}

.course-comments__item-content__time{
    margin-top: 4px;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 300;
}



