@keyframes darken{
    from{
        -webkit-filter: brightness(100%);
    }
    to{
        -webkit-filter: brightness(65%);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0.3;
    }
    to{
        opacity: var(--opc);
    }
}

@keyframes growthOver{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(var(--new-size));
    }
}

@keyframes growthDown{
    0% {
        transform: scaleY(0);
    }
    80%{
        transform: scaleY(1.1);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes growthUp{
    0% {
        transform: scale(0);
    }
    // 80%{
    //     transform: scale(1.1);
    // }
    100%{
        transform: scale(1);
    }
}

@keyframes btnPushDown{
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
