<div id="main-body" class="container">
        <div class="d-flex col-5 justify-content-center" style="padding-left: 120px;">
            <h1>OUR TEACHERS</h1>
        </div>
        <div id="teacher-container" class="row">
            <div class="teacher-list col-5">
                <div class="teacher-item active">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
                <div class="teacher-item">
                    <div class="teacher-item__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-item__info">
                        <div class="info__name">
                            Prof. Albert Enstein 
                        </div>
                        <div class="info__rated">
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star active"></i>
                            <i class="fas fa-star rated-star"></i>
                            <i class="fas fa-star rated-star"></i>
                        </div>
                        <div class="info__birth">
                            German - 18.06.2000
                        </div>
                    </div>
                </div>
            </div>
            <div class="teacher-detail-wrapper col-7">
                <div class="teacher-detail">
                    <div class="teacher-detail__img" style="background-image: url('https://genk.mediacdn.vn/2019/3/29/photo-2-1553860027112605592112.jpg');"></div>
                    <div class="teacher-detail__body">
                        <div class="teacher-detail__header">
                        <div class="header__name">
                            Prof. Albert Enstein
                        </div>
                        <div class="btn btn-outline-dark header__email">
                            enstein@gmail.com
                        </div>
                        </div>
                        <div class="teacher-detail__birth">
                            Birth: 18.06.2000
                        </div>
                        <div class="teacher-detail__major">
                            Major: Artifical Inteligent
                        </div>
                        <div>Courses:</div>
                        <div class="teacher-detail__courses">
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bản</div>
                            </div>
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bảnJavaScript cơ bảnJavaScript cơ bảnJavaScript cơ bản</div>
                            </div>
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bản</div>
                            </div>
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bản</div>
                            </div>
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bản</div>
                            </div>
                            <div class="teacher-course-item">
                                <div class="teacher-course-item__img" style="background-image: url('https://cdn.tgdd.vn//GameApp/1381706//sapixarvirtualbgcoco16x99ccd7110-800x450.jpeg');"></div>
                                <div class="teacher-course-item__name">JavaScript cơ bản</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
</div>


<div class="modal modal-confirm" id="editConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Xác nhận đổi mật khẩu mới ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-close-confirm" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success btn-confirm-change-password">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-noti-message" tabindex="-1" style="display: none; z-index: 100;">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close btn-modal-noti-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Unmatched Password !!! Try again !!!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-modal-noti-close">Close</button>
        </div>
    </div>
    </div>
</div>

<script>
</script>