:root {
  --primary-dark-color: #221e27;
  --primary-dark-hover-color: #525252;
  --primary-color: #bcd0e0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --facebook-color: #3b5998;
  --success-color: #28a745;
  --love-color: #e31b23;
  --angry-color: #c92929;
  --text-hightlight-color: rgb(116, 13, 13); }

@keyframes darken {
  from {
    -webkit-filter: brightness(100%); }
  to {
    -webkit-filter: brightness(65%); } }

@keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: var(--opc); } }

@keyframes growthDown {
  0% {
    transform: scaleY(0); }
  80% {
    transform: scaleY(1.1); }
  100% {
    transform: scaleY(1); } }

@keyframes growthUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes btnPushDown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; }

.btn {
  font-size: 1.4rem; }

.btn-outline-danger {
  border: 1px solid var(--angry-color);
  color: var(--angry-color); }

.btn-outline-danger:hover {
  background-color: var(--angry-color);
  color: var(--white-color); }

.modal {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem; }

.modal-title {
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 1rem; }

.modal-body {
  padding: 3rem; }

.modal-header {
  background-color: var(--primary-color); }

.modal.active {
  display: block; }

.modal {
  --opc: 1;
  animation: fadeIn ease-in .1s; }

.modal-confirm .modal-content {
  margin-top: 16vh; }

input {
  font-size: 1.4rem !important; }

.panel {
  padding: 16px;
  background-color: #f8f8f8; }

.dropdown-menu {
  animation: growthDown .4s ease-in-out forwards;
  transform-origin: top center;
  top: 100% !important; }
