@keyframes darken {
  from {
    -webkit-filter: brightness(100%); }
  to {
    -webkit-filter: brightness(65%); } }

@keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: var(--opc); } }

@keyframes growthOver {
  from {
    transform: scale(1); }
  to {
    transform: scale(var(--new-size)); } }

@keyframes growthDown {
  0% {
    transform: scaleY(0); }
  80% {
    transform: scaleY(1.1); }
  100% {
    transform: scaleY(1); } }

@keyframes growthUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes btnPushDown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

:root {
  --primary-dark-color: #221e27;
  --primary-dark-hover-color: #525252;
  --star-color: #ff7600;
  --primary-color: #bcd0e0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --facebook-color: #3b5998;
  --success-color: #28a745;
  --love-color: #e31b23;
  --angry-color: #c92929;
  --text-hightlight-color: rgb(116, 13, 13); }

.course-info {
  width: 100%;
  border-right: 1px solid var(--border-color);
  padding-right: 24px;
  color: var(--text-color); }

.course-info__component {
  margin-bottom: 8px; }

.course-info__image {
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #333;
  border-radius: 8px;
  display: flex; }

.course-info__rating {
  display: flex; }

.course-info__rating-star {
  padding: 4px;
  cursor: pointer; }

.course-info__rating-star.active {
  color: var(--star-color); }

.course-info .btn-de-register-course,
.course-info .btn-register-course {
  font-weight: 700;
  border-radius: 8px;
  margin: 0 0 auto auto;
  padding: 8px; }

.course-info .btn-register-course {
  border: 1px solid var(--black-color); }

.course-info__name {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--text-hightlight-color); }

.course-info__type {
  display: flex;
  color: var(--text-color); }

.course-info__type-item {
  margin-right: 12px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic; }

.course-info__lessons {
  margin-top: 18px; }

.course-info__register-count {
  display: flex; }

.course-info__register-pics {
  display: flex; }

.register-pic-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  border: 3px solid #f8f8f8; }

.register-pic-item-etc {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  border: 3px solid #f8f8f8;
  background-color: #d8d8d8; }

.course-comments {
  color: var(--text-color); }

.course-comments__title {
  padding-left: 6px;
  font-size: 2.8rem;
  font-weight: 600; }

.course-comments__buttons {
  display: flex; }

.course-comments__buttons .btn {
  height: 32px;
  margin: 0 0 auto auto;
  background-color: #000000;
  border-color: unset;
  font-weight: 600;
  border-radius: 20px;
  padding: 1px 12px; }

.course-comments__item {
  margin-left: -8px;
  padding: 8px 0 12px 8px;
  border-radius: 10px; }

.course-comments__item:hover {
  background-color: #e0e0e0; }

.course-comments__item-avatar {
  width: 48px;
  height: 48px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%; }

.course-comments__item-content {
  display: flex;
  flex-direction: column; }

.course-comments__item-content__name {
  font-weight: 700; }

.course-comments__item-content__text {
  text-align: justify; }

.course-comments__item-content__time {
  margin-top: 4px;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300; }

.course-comments__input {
  background: none;
  border: none;
  border-bottom: 1px solid;
  outline: none; }

.btn-edit-comment {
  margin-left: auto;
  padding: 28px 16px;
  cursor: pointer; }

.btn-edit-comment:hover {
  color: #9a75e2; }

.btn-del-comment {
  padding: 28px 16px;
  cursor: pointer; }

.btn-del-comment:hover {
  color: #a00000; }
