:root {
  --primary-dark-color: #221e27;
  --primary-dark-hover-color: #525252;
  --star-color: #ff7600;
  --primary-color: #bcd0e0;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --facebook-color: #3b5998;
  --success-color: #28a745;
  --love-color: #e31b23;
  --angry-color: #c92929;
  --text-hightlight-color: rgb(116, 13, 13); }

@keyframes darken {
  from {
    -webkit-filter: brightness(100%); }
  to {
    -webkit-filter: brightness(65%); } }

@keyframes fadeIn {
  from {
    opacity: 0.3; }
  to {
    opacity: var(--opc); } }

@keyframes growthOver {
  from {
    transform: scale(1); }
  to {
    transform: scale(var(--new-size)); } }

@keyframes growthDown {
  0% {
    transform: scaleY(0); }
  80% {
    transform: scaleY(1.1); }
  100% {
    transform: scaleY(1); } }

@keyframes growthUp {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes btnPushDown {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* BODY */
#main-body {
  margin-top: 80px;
  color: #fff; }

#customize {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.customize__title {
  padding: 0 124px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  width: 58%;
  min-height: 150px; }

.customize__body {
  padding: 0 124px;
  display: flex;
  flex-direction: column; }

.input-label {
  margin-bottom: 16px; }

.customize__edit {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.customize__input-text {
  border: none;
  border-bottom: 1px solid var(--white-color);
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  color: #fff;
  background-color: unset; }

.customize__input-text-sm {
  border: none;
  border-bottom: 1px solid var(--white-color);
  width: 25%;
  outline: none;
  font-size: 1.8rem;
  color: #fff;
  background-color: unset; }

.customize__input-file {
  display: none;
  justify-content: space-between; }

.customize__edit-btn {
  border-radius: 20px;
  padding: 8px 24px;
  margin: 50px auto; }

.customize__edit-DOB {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.customize__avatar {
  display: flex;
  flex-direction: column;
  align-items: center; }

.customize__edit-img {
  border: none;
  width: 100%;
  outline: none;
  font-size: 1.8rem;
  position: relative;
  cursor: pointer; }

.uploaded-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid;
  transition: ease; }

.customize__avatar-icon {
  width: 75%;
  opacity: 0.8;
  position: absolute;
  left: 13%;
  top: 19%;
  display: none; }

.customize__edit-img:hover .uploaded-img {
  -webkit-filter: brightness(50%); }

.customize__edit-img:hover .customize__avatar-icon {
  --opc: 0.8;
  display: block;
  animation: fadeIn ease .5s; }

.customize__input-file-confirm {
  border-radius: 20px;
  margin-top: 8px;
  padding: 2px 8px;
  display: none;
  animation: btnPushDown ease .4s; }

.customize__body.customize-pasword {
  padding: unset;
  width: 300px; }

.customize__title.customize-pasword {
  min-height: 100px; }
