<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="footer__about footer__partial">
                <div class="footer__about-title footer__partial-title">
                    ABOUT
                </div>
                <div class="footer__about-content footer__partial-content">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="footer__categories footer__partial">
                <div class="footer__categories-title footer__partial-title">
                    CATEGORIES
                </div>
                <div class="footer__categories-content footer__partial-content">
                    <a class="categories__item content__item">Bootstrap</a>
                    <a class="categories__item content__item">JavaScript</a>
                    <a class="categories__item content__item">NodeJs/ExpressJs</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="footer__links footer__partial">
                <div class="footer__links-title footer__partial-title">
                    HELPFUL LINKS
                </div>
                <div class="footer__links-content footer__partial-content">
                    <a class="links__item content__item">Your Account</a>
                    <a class="links__item content__item">Your Courses</a>
                    <a class="links__item content__item">Help</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="footer__contacts footer__partial">
                <div class="footer__contacts-title footer__partial-title">
                    CONTACT
                </div>
                <div class="footer__contacts-content footer__partial-content">
                    <a class="contacts__item content__item">Facebook</a>
                    <a class="contacts__item content__item">Gmail</a>
                    <a class="contacts__item content__item">Outlook</a>
                    <a class="contacts__item content__item">Github</a>
                    <a class="contacts__item content__item">+84 901161641</a>
                </div>
            </div>
        </div>
    </div>
</div>