<nav class="navbar navbar-expand-lg navbar-light bg-light header__navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo/logo.png" alt="logo" class="navbar-brand__logo">
            <span class="navbar-brand__name">Edu Center</span>
        </a>
        <div class="navbar-pages" href="/">
            {{#if user}}
            <a class="navbar-page__item" href="/me/courses">MY COURSES</a>
            {{/if}}
            <a class="navbar-page__item">TEACHERS</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
            {{#if user}}
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbar-user__wrapper" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{#if (isNone userInfo.img)}}
                                <img class="user_drop-down-avatar" src="/img/users/default-avatar.jpg" alt="avatar-img">
                            {{else}}
                                <img class="user_drop-down-avatar" src="{{userInfo.img}} " alt="avatar-img">  
                            {{/if}}
                            {{userInfo.name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark user__drop-down" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item user__drop-down-item" href="/me/courses">Khóa học của tôi</a></li>
                            <li><a class="dropdown-item user__drop-down-item" href="/me/account">Cài đặt tài khoản</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button type="submit" class="dropdown-item user__drop-down-item"
                                data-bs-toggle="modal" data-bs-target="#signoutConfirmModal">Đăng xuất</button>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
                
            {{else}}
                <li class="nav-item">
                <button class="btn btn-outline-secondary navbar__btn-sign-up">Sign up</button>
                </li>
                <li class="nav-item">
                <button class="btn btn-success navbar__btn-sign-in">Sign in</button>
                </li>
            {{/if}}
        </ul>
        </div>
    </div>
</nav>

<form class="modal modal__sign-in" tabindex="-1" method="POST" action="/">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <span class="modal-title modal__sign-in-title">Sign in</span>
        <button type="button" class="btn btn-light btn-switch-modal" data-bs-dismiss="modal">Sign up</button>
        </div>
        <div class="modal-body">
        <div class="mb-3">
            <label for="sign-in__user-name" class="form-label">User Name:</label>
            <input type="text" name="username" class="form-control" id="sign-in__user-name" placeholder="Your username....">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" id="sign-in__password" placeholder="Your password....">
        </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success modal__sign-in-btn-submit">Sign in</button>
        </div>
    </div>
    </div>
</form>

<form class="modal modal__sign-up" action="/account/signup" method="POST" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <span class="modal-title modal__sign-up-title">Sign up</span>
        <button type="button" class="btn btn-light btn-switch-modal" data-bs-dismiss="modal">Sign in</button>
        </div>
        <div class="modal-body">
        <div class="mb-3">
            <label for="sign-up__user-name" class="form-label">User Name:</label>
            <input type="text" name="username" class="form-control" id="sign-up__user-name" placeholder="Your username...." required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" class="form-control" id="sign-up__password" placeholder="Your password...." required>
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password:</label>
            <input type="password" name="confirm-password" class="form-control" id="sign-up__confirm-password" placeholder="Confirm your password...." required>
        </div>
        <div class="mb-3">
            <label for="full-name" class="form-label">Full name:</label>
            <input type="text" name="name" class="form-control" id="full-name" placeholder="Your full name...." required>
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date of Birth</label>
            <div id="date">
            <input type="text" name="DOB-day" class="date__field form-control" placeholder="DD" required>
            <input type="text" name="DOB-month" class="date__field form-control" placeholder="MM" required>
            <input type="text" name="DOB-year" class="date__field form-control" placeholder="YYYY" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="sign-up__email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" id="sign-up__email" placeholder="Your email..." required>
        </div>
        <div class="mb-3">
            <label for="sign-up__phone" class="form-label">Phone Number:</label>
            <input type="text" name="phone" class="form-control" id="sign-up__phone" placeholder="Your phone number..." required>
        </div>
        
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-close-modal" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success modal__sign-up-btn-submit">Sign up</button>
        </div>
    </div>
    </div>
</form>


<div class="modal modal-confirm" id="signoutConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐĂNG XUẤT</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn đang đăng xuất khỏi tài khoản</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success btn-confirm-sign-out">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>

<form name="logOut" method="POST" action="/logout"></form>

<script>
        $('.btn-confirm-sign-out').click(function(){
            $('form[name="logOut"]').submit();
        })
</script>
<script src="/js/login.js"></script>