<div id="main-body" class="container">
        <div class="container" id="customize">
            <h1 class="customize__title">
                Cài đặt tài khoản
            </h1>

            <form class="customize__body mt-5" method="POST" action="/me/account/?_method=PUT">
                <div class="customize__name mt-5">
                    <h3 class="input-label">Họ tên</h3>
                    <div class="customize__edit">
                        <input type="text" name="name" class="customize__input-text" minlength="50px" maxlength="70px" value="{{userInfo.name}}" placeholder="Nhập tên của bạn">
                    </div>
                </div>
                <div class="customize__email mt-5">
                  <h3 class="input-label">Email</h3>
                  <div class="customize__edit">
                      <input type="text" name="email" class="customize__input-text" minlength="50px" maxlength="70px" value="{{userInfo.email}}" placeholder="Nhập email của bạn">
                  </div>
                </div>
                <div class="customize__phone-number mt-5">
                <h3 class="input-label">Số điện thoại</h3>
                <div class="customize__edit">
                    <input type="text" name="phone" class="customize__input-text" minlength="50px" maxlength="70px" value="{{userInfo.phone}}" placeholder="Nhập số điện thoại của bạn">
                </div>
                <div class="customize__date-of-birth mt-5">
                  <h3 class="input-label">Ngày sinh</h3>
                  <div class="customize__edit">
                      <div class="customize__edit-DOB">
                        <input type="text" name="DOB-day" class="customize__input-text-sm" minlength="20px" maxlength="30px" placeholder="DD">
                        <input type="text" name="DOB-month" class="customize__input-text-sm" minlength="20px" maxlength="30px" placeholder="MM">
                        <input type="text" name="DOB-year" class="customize__input-text-sm" minlength="20px" maxlength="30px" placeholder="YYYY">
                      </div>
                  </div>
                </div>
                <div class="customize__img mt-5">
                  <h3 class="input-label">Avatar</h3>
                  <div class="customize__edit">
                      <div class="customize__edit-img">
                          <input type="file" name="img" class="customize__input-file" minlength="50px" maxlength="70px">
                          <img class="uploaded-img" src="https://scontent.fdad3-5.fna.fbcdn.net/v/t1.6435-9/242492738_115452684205599_6130258319888075774_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=a4a2d7&_nc_ohc=Btxw4rzT5CAAX8fsVeZ&_nc_ht=scontent.fdad3-5.fna&oh=9c2e7fba6f067160fbeacb5eb52bc7c9&oe=61A0F0F1" alt="avatar-img">
                      </div>
                  </div>
                </div>
                </div>
                <button type="submit" class="btn btn-outline-dark customize__edit-btn">Confirm Edit</button>
            </form>
        </div>