<div id="main-body" class="container">
        <div class="container" id="customize">
            <div class="customize__title customize-pasword">
                <h1 class="customize__title-text">
                    Đổi mật khẩu
                </h1>
            </div>

            <form class="customize__body customize-pasword" method="POST" action="/me/account/change-password?_method=PUT">
                <div class="customize__name">
                    <h3 class="input-label">Mật khẩu cũ</h3>
                    <div class="customize__edit">
                        <input type="password" name="password" class="customize__input-text" placeholder="Nhập mật khẩu cũ" required>
                    </div>
                </div>
                <div class="customize__email mt-5">
                    <h3 class="input-label">Mật khẩu mới</h3>
                    <div class="customize__edit">
                        <input type="password" name="new-password" class="customize__input-text" placeholder="Nhập mật khẩu mới" required>
                    </div>
                </div>
                <div class="customize__phone-number mt-5">
                    <h3 class="input-label">Xác nhận</h3>
                    <div class="customize__edit">
                        <input type="password" name="confirm-password" class="customize__input-text" placeholder="Nhập lại mật khẩu mới" required>
                    </div>
                </div>
                
                <div class="btn btn-outline-light customize__edit-btn" data-bs-toggle="modal" data-bs-target="#editConfirmModal">Change password</div>
            </form>
        </div>
</div>


<div class="modal modal-confirm" id="editConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ĐỔI MẬT KHẨU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Xác nhận đổi mật khẩu mới ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light btn-close-confirm" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success btn-confirm-change-password">Tiếp tục</button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-noti-message" tabindex="-1" style="display: none; z-index: 100;">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close btn-modal-noti-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Unmatched Password !!! Try again !!!
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-modal-noti-close">Close</button>
        </div>
    </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.btn-modal-noti-close').click(function(){
            $('.modal-noti-message').css('display','none');
        })

        $('.btn-confirm-change-password').click(function(){
            const password = $('.customize-pasword input[name="password"]').val();
            const newPassword = $('.customize-pasword input[name="new-password"]').val();
            const confirmPassword = $('.customize-pasword input[name="confirm-password"]').val();

            if (newPassword != confirmPassword){
                $('.btn-close-confirm').click();
                $('.modal-noti-message').css('display', 'block'); 
            }
            else{
                $.post('/me/change-password', {
                    password,
                    confirmPassword,
                }, function(res){
                    if (res.success) {
                        $('.btn-close-confirm').click();
                        alert(res.notiMessage);
                        window.location.href = '/logout';
                        $('.navbar__btn-sign-in').click();
                    }
                    else {
                        $('.btn-close-confirm').click();
                        $('.modal-noti-message .modal-body').html(res.notiMessage); 
                        $('.modal-noti-message').css('display', 'block'); 
                    }
                });
            }
        })
    })
</script>